# Define database info as env vars
SetEnv mysql_host 127.0.0.1
SetEnv mysql_db hiscores
SetEnv mysql_user user
SetEnv mysql_pass password

# Re-route unknown request to index

RewriteEngine on
RewriteCond %{REQUEST_URI} !\.(png|html|css|js|php)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]