<VirtualHost *:80>
        SetEnv mysql_host 127.0.0.1
        SetEnv mysql_user username
        SetEnv mysql_pass password
        SetEnv mysql_db database

        ServerAdmin contact@ericballard.info
        ServerName ericballard.info
        ServerAlias www.ericballard.info
        DocumentRoot /var/www/ericballard.info/public_html
        DirectoryIndex index.php index.html

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>